################################
# Java build
################################
**/target/
**/build/

################################
# IDE
################################
.idea/
*.iml
**/*.iml

################################
# Logs & temp
################################
*.log
**/*.log
tmp/
**/tmp/

################################
# OS
################################
.DS_Store
Thumbs.db
